body {
	margin: 0;
	padding: 0;
	font-family: "Georgia", Times, Times New Roman, serif, "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background-image: url("../images/cork-wallet.png");
	background-color: #0c1219;
}
a:link {
    text-decoration: none;
    color: #777777;
}
a:visited {
    text-decoration: none;
    color: #777777;
}
a:hover {
    text-decoration: underline;
    color: #777777;
}
a:active {
    text-decoration: underline;
    color: #777777;
}
p {
	font-family: "Arial"
}
.navbar {
	width: 100%
	background-color: #ffffff;
    top: 0;
    position: relative; 
    overflow: auto;
}
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto;
    background-color: #ffffff;
    width: 960px;
    align-content: center;
    position: relative;
    border-bottom: 2px solid #cccccc;
}
li {
	margin: 0 auto;
	align-content: center;
}
#titlebar {
	float: left;
	background-color: #4aaaa5;
	padding: 25px;
	color: #ffffff;
	font-size: 30px;
	position: absolute;
}
#direct {
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	float: right;
	color: #777777
	font-size: 10px;
	font-family: "Arial"
}
header {
	width: 100%
	background-color: #ffffff;
	color: ;
}
h1 {
	color: #4aaaa5;
	font-family: "Georgia"
}
h2 {
	color: #4aaaa5;
	font-family: "Georgia"
}
.container {
	width: 960px;
	margin: 0 auto;
	color: #777777;
}
#containerContents {
	width: 590px;
	padding: 20px;
	margin: 0 auto;
	color: #777777;
	background-color: #ffffff;
	position: relative;
	float: left;
	text-align: left;
	border: 1px solid #cccccc;
}
#biography {
	border-top: 1px solid #cccccc;
	margin: 0 auto;
	color: #777777;
	font: "Arial"
	background-color: #ffffff;
	position: relative;
	float: left;
	text-align: left;
	width: 100%;

}
#aboutPic {
	float: left;
	max-width: 40%;
	max-height: 40%;
	margin: 20px;
	background-color: #0c1219;
}
#connectWithMe {
	width: 230px;
	padding: 20px;
	margin: 0 auto;
	background-color: #ffffff;
	position: relative;
	float: right;
	text-align: center;
	border: 1px solid #dddddd;
}
.icons {
	padding-width: 100%;
	margin: 0 auto;
	align-content: center;
	border-top: 1px solid #dddddd;
	position: relative;
}
.fa-stack-overflow {
	padding: 10px;
	font-size: 40px;
	margin: 0 auto;
	margin-top: 10px;
	color: #e2af26;
	position: relative;
}
.fa-linkedin {
	padding: 10px;
	font-size: 40px;
	margin: 0 auto;
	margin-top: 10px;	
	color: #2649e2;	
	position: relative;
}
.fa-github {
	padding: 10px;
	font-size: 40px;
	margin: 0 auto;
	margin-top: 10px;	
	color: 424242;
	position: relative;
}
footer {
	margin: 0 auto;
	bottom: 0;
	color: #edeae1;
	background-color: #666666;
	width: 100%;
	font-size: 12px;
	border-top: 3px solid #4aaaa5;
	text-align: center;
	position: fixed;
	overflow: hidden;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.contactForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
